<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
</head>
<body>



<h1>It's a <%= kindOfDay%>!</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum, dolor vitae fermentum rhoncus, orci
    est eleifend orci, et ornare libero ligula non diam. Cras sit amet mauris ut erat accumsan laoreet interdum et
    lectus. Quisque gravida, augue eget mollis vulputate, ligula ipsum tempus leo, quis rhoncus lorem arcu ac diam.
    Vestibulum ut tincidunt risus. Ut blandit iaculis varius. In risus elit, tincidunt at ante in, maximus imperdiet
    neque. Integer finibus convallis dolor, sit amet feugiat dolor gravida nec.


</p>
</body>
</html>